<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/car.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1 class="title">
        {{ title }}
    </h1>
    <hr class="line-break">

    {% if title == "Página principal" %}
        <div>
            <form action="{% url 'search_car_by_title' %}" method="POST" class="form-search">
                {% csrf_token %}
                <input type="text" name="search" placeholder="Buscar coche" class="form-control form-input">
                &nbsp;
                &nbsp;  
                <button type="submit" class="btn btn-success">Buscar</button>
            </form>
        </div>
    {% endif %}
    {% if title == "Coches por características" %}
        <div>
            <form action="{% url 'search_car_by_specifications' %}" method="POST" class="form-specifications">
                {% csrf_token %}
                <div class="form-group">
                    {% include 'components/form_select.html' with label="Marca" name="brand" items=brands selected=selected_brand %}
                    {% include 'components/form_select.html' with label="Provincia" name="province" items=provinces selected=selected_province %}
                    {% include 'components/form_select.html' with label="Combustible" name="fuel" items=fuels selected=selected_fuel %}
                </div>
                <div class="form-group">
                    {% include 'components/form_select.html' with label="Colores" name="color" items=colors selected=selected_color %}
                    {% include 'components/form_select.html' with label="Número de plazas" name="seats" items=seats selected=selected_seats %}
                    {% include 'components/form_select.html' with label="Ordenación" name="order" items=orders selected=selected_order %}
                </div>
                <div class="form-group-min-max">
                    {% include 'components/form_min_max.html' with label="Kilómetros" name="km" min=0 max=500000 unit="km" selected_min=selected_km_min selected_max=selected_km_max %}
                    {% include 'components/form_min_max.html' with label="Precio" name="spot_price" min=0 max=200000 unit="€" selected_min=selected_price_min selected_max=selected_price_max %}
                </div>
                <div class="form-group-min-max">
                    {% include 'components/form_min_max.html' with label="Potencia" name="power" min=0 max=500 unit="cv" selected_min=selected_power_min selected_max=selected_power_max %}
                </div> 
                <div class="btn-submit-container">
                    <button type="submit" class="btn btn-danger btn-clean" name="clean">Borrar filtros</button>
                    <button type="submit" class="btn btn-success btn-search" name="search">Buscar</button>
                </div>    
            </form>
        </div>
        <hr class="line-break">
    {% endif %}
    <div class="cars-container">
        {% if cars %}
        {% for c in cars %}
        {% include 'components/car_card.html' with car=c %}
        {% endfor %}
        {% else %}
        <h3 class="no-car-text">{{ message }}</h3>
        {% endif %}
    </div>
</body>