{% extends 'master.html' %}

{% block head %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
{% endblock %}

{% block title %} Inicio de sesión {% endblock %}

{% block content %}

<div class="login-wrapper">
    <h1 class="title">
        Inicio de sesión
    </h1>
    <hr class="line-break">

    {% if form.errors %}
    <ul class="messages alert alert-warning" role="alert">
        <li class="{{ message.tags }}">
            El nombre de usuario o la contraseña son incorrectos.
        </li>
    </ul>
    {% endif %}

    <div class="login-layout">
        <div class="login-container">
            <form method="POST" class="login-form">
                {% csrf_token %}
                {{ form|crispy }}
                <p class="required-fields-login">Los campos marcados con * son obligatorios.</p>
                <button class="btn btn-success" id="id_submit_button" type="submit">Inicia sesión</button>
            </form>
            <br>
            <div class="login-form">
                <a href="/register">¿No tienes cuenta? ¡Regístrate!</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}