/* css associated with the crispy_form component */

.crispy-wrapper {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-inline: 2rem;
    z-index: 5;
}

.title {
    text-align: left;
    margin-left: 5%;
}

hr.line-break {
    border: 1px solid #FAAB78;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 2.5rem;
    margin-top: 0;
    background-color: #FAAB78;
    width: 92%;
    opacity: initial;
}

.crispy-layout {
    display: flex;
    justify-content: center;
}

.crispy-container{
    max-width: 100%;
    width: 100%;
}

.crispy-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorlist{
    display: none;
}

span.helptext{
    display: none;
}

.required-fields-crispy{
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 600;
}

/* Register form */

#div_id_first_name{
    width: 100%;
    max-width: 300px;
}

#div_id_last_name{
    width: 100%;
    max-width: 300px;
}

#div_id_email{
    width: 100%;
    max-width: 300px;
}

#div_id_username{
    width: 100%;
    max-width: 300px;
}

#div_id_password1{
    width: 100%;
    max-width: 300px;
}

#div_id_password2{
    width: 100%;
    max-width: 300px;
}

/* Login form */

#div_id_password{
    width: 100%;
    max-width: 300px;
}

/* Load data form */

.load_data-form-text{
    margin-top: 10px;
    margin-left: 100px;
    font-size: large;
    font-weight: 600;
}

#div_id_autocasion_pages{
    max-width: 300px;
    width: 100%;
}

#div_id_coches_com_pages{
    max-width: 300px;
    width: 100%;
}

#div_id_motor_es_pages{
    max-width: 300px;
    width: 100%;
}

@media screen and (max-width: 870px) {
    .load_data-form-text{
        margin-left: 0px;
    }
    
}