/* register page css */

.register-wrapper {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-inline: 2rem;
    z-index: 5;
}

.title {
    text-align: left;
    margin-left: 5%;
}

hr.line-break {
    border: 1px solid #FAAB78;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 2.5rem;
    margin-top: 0;
    background-color: #FAAB78;
    width: 92%;
    opacity: initial;
}

.register-layout {
    display: flex;
    justify-content: center;
}

.register-container{
    max-width: 100%;
    width: 100%;
}

.register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorlist{
    display: none;
}

span.helptext{
    display: none;
}

#div_id_first_name{
    width: 100%;
    max-width: 300px;
}

#div_id_last_name{
    width: 100%;
    max-width: 300px;
}

#div_id_email{
    width: 100%;
    max-width: 300px;
}

#div_id_username{
    width: 100%;
    max-width: 300px;
}

#div_id_password1{
    width: 100%;
    max-width: 300px;
}

#div_id_password2{
    width: 100%;
    max-width: 300px;
}

.required-fields-register{
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 600;
}